RankBoard
    h2 당첨 횟수
    div.rank
        span.rank__content
            | 1등 :
            span.content__number.content__number--first 0
            | 2등 : 
            span.content__number.content__number--second 0
            | 3등 : 
            span.content__number.content__number--third 0
            | 4등 : 
            span.content__number.content__number--fourth 0
            | 5등 : 
            span.content__number.content__number--fifth 0
            | 꽝 : 
            span.content__number.content__number--lost 0