WinningsBoard
    h3 당첨금
    div
        span.reward 1등 : 1,952,160,000 원
        span.reward 2등 : 54,226,666 원
        span.reward 3등 : 1,390,427 원
        span.reward 4등 : 50,000 원
        span.reward 5등 : 5,000 원