$goal-color: #ce4647;
$hit-color: green;
$number-color: blue;
$bonus-color: orange;
$button-border: 5px red solid;
$hit-border: 2px solid green;
$underline-border: 1px solid gray;
$board-border: 3px blue solid;
$body-bg-color: blanchedalmond;
$layout-bg-color: white;
$button-bg-color: orange;
$button-color: white;
